body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #22272e;
}

p {
  color: white; 
}

li {
  color: white;
}
  
h1 {
  color: white; 
}

h2 {
  color: white; 
}

h3 {
  color: white; 
}

h4 {
  color: white;
}

a {
  color: #539bf5;
}

